<aside class="aside">
  <header class="aside_header">
    <img src="/assets/logo-large.png" alt="logo" />
  </header>

  <nav class="aside_list">
    <ul>
      <li>
        <a routerLink="dashboard" routerLinkActive="active"> Dashboard </a>
      </li>
      <li>
        <a routerLink="produtos" routerLinkActive="active"> Produtos </a>
      </li>
      <li>
        <a routerLink="fornecedores" routerLinkActive="active">
          Fornecedores
        </a>
      </li>
      <li>
        <a routerLink="vendas" routerLinkActive="active"> Vendas </a>
      </li>
    </ul>
  </nav>
</aside>
