.header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &_avatar {
    align-items: center;
    color: var(--text);
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: right;

    app-avatar {
      display: block;
      margin-left: var(--space-sm);
    }
  }
}
