<div class="item" role="listitem">
  <div class="item_cell lg">
    <app-avatar [name]="product.name" [avatar]="product.photo"></app-avatar>

    <div class="item_description">
      {{ product.name }}
    </div>
  </div>

  <div class="item_cell">
    <div class="item_description">
      {{ product.description }}
    </div>
  </div>

  <div class="item_cell">
    <div class="item_description">
      {{ product.price_buy }}
    </div>
  </div>

  <div class="item_cell">
    <div class="item_description">
      {{ product.price_sale }}
    </div>
  </div>

  <div class="item_cell small">
    <button>
      <fa-icon [icon]="optionsIcon"></fa-icon>
    </button>
  </div>
</div>
