.button {
  background: var(--primary);
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(55, 81, 255, 0.24);
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  line-height: 20px;
  opacity: 1;
  padding: 16px 24px;
  text-align: center;
  transition: var(--transition);
  width: 100%;

  &:hover {
    filter: brightness(1.1);
  }

  &:disabled {
    opacity: 0.4;
  }
}
