<form [formGroup]="form" (ngSubmit)="submit()" class="form content">
  <div class="input">
    <app-input-text
      label="Search"
      id="input-search"
      formControlName="search"
      [error]="!!form.get('search')?.touched && !!form.get('search')?.invalid"
    ></app-input-text>

    <app-error-message [control]="form.get('search')"></app-error-message>
  </div>

  <app-button id="button-search" [disabled]="form.invalid" type="submit"
    >Search</app-button
  >
  <app-button color="red" (click)="createClick()" type="button">
    Criar
  </app-button>
</form>
