<div class="dashboard">
  <div class="card">
    <app-container>
      Produtos Cadastrados
      <strong> 108</strong>
    </app-container>
  </div>

  <div class="card">
    <app-container>
      Fornecedores Cadastrados
      <strong> 108</strong>
    </app-container>
  </div>

  <div class="card collumn-medium">
    <app-container>
      Vendas no ultimo mês
      <strong> 108</strong>
    </app-container>
  </div>

  <div class="collumn-medium">
    <app-list title="Produtos mais vendidos no ultimo mês">
      <a header-aside routerLink="../vendas"> Ver todas as vendas </a>
      <app-list-item>
        Produto
        <span aside>Quantidade vendida</span>
      </app-list-item>

      <app-list-item>Bala babalu <span aside>100</span></app-list-item>
      <app-list-item>Bala juquinha <span aside>100</span></app-list-item>
      <app-list-item>Bala de coração <span aside>100</span></app-list-item>
    </app-list>
  </div>

  <div class="collumn-medium">
    <app-list title="Produtos menos vendidos no ultimo mês">
      <a header-aside routerLink="../vendas"> Ver todas as vendas </a>
      <app-list-item>
        Produto
        <span aside>Quantidade vendida</span>
      </app-list-item>

      <app-list-item>Bala coco <span aside>0</span></app-list-item>
      <app-list-item>Bala de veio(canela) <span aside>0</span></app-list-item>
      <app-list-item>Bala 7belo <span aside>0</span></app-list-item>
    </app-list>
  </div>
</div>
