<div class="dashboard" *ngIf="dashboard$ | async as dashboard">
  <div class="card">
    <app-container>
      Produtos Cadastrados
      <strong>{{ dashboard.products.register }}</strong>
    </app-container>
  </div>

  <div class="card">
    <app-container>
      Fornecedores Cadastrados
      <strong>{{ dashboard.providers }}</strong>
    </app-container>
  </div>

  <div class="card collumn-medium">
    <app-container>
      Vendas no ultimo mês
      <strong> {{ dashboard.sale.length }} </strong>
    </app-container>
  </div>

  <div class="collumn-medium">
    <app-list title="Produtos mais vendidos no ultimo mês">
      <a header-aside routerLink="../vendas"> Ver todas as vendas </a>
      <app-list-item>
        Produto
        <span aside>Quantidade vendida</span>
      </app-list-item>

      <app-list-item *ngFor="let product of dashboard.products.best_sellers">
        {{ product.product.name }}
        <span aside>
          {{ product.quantity }}
        </span>
      </app-list-item>
    </app-list>
  </div>

  <div class="collumn-medium">
    <app-list title="Produtos menos vendidos no ultimo mês">
      <a header-aside routerLink="../vendas"> Ver todas as vendas </a>
      <app-list-item>
        Produto
        <span aside>Quantidade vendida</span>
      </app-list-item>

      <app-list-item *ngFor="let product of dashboard.products.less_sold">
        {{ product.product.name }}
        <span aside>
          {{ product.quantity }}
        </span>
      </app-list-item>
    </app-list>
  </div>
</div>
