<div class="item" role="listitem">
  <div class="item_cell lg">
    <app-avatar [name]="provider.name" [avatar]="provider.photo"></app-avatar>

    <div class="item_description">
      {{ provider.name }}
    </div>
  </div>

  <div class="item_cell">
    <div class="item_description">
      {{ provider.email }}
    </div>
  </div>

  <div class="item_cell">
    <div class="item_description">
      {{ provider.celphone }}
    </div>
  </div>

  <div class="item_cell">
    <div class="item_description">
      {{ provider.representative }}
    </div>
  </div>

  <div class="item_cell small">
    <button>
      <fa-icon [icon]="optionsIcon"></fa-icon>
    </button>
  </div>
</div>
