form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 400px;
}

.input {
  display: block;
  margin-bottom: 24px;
  width: 100%;

  &.half {
    width: calc(50% - 12px);
  }
}

app-button {
  width: 100%;
}
