<form novalidate="false" (submit)="submit()" autocomplete="off" #form="ngForm">
  <div class="input">
    <app-input-text
      id="name"
      name="name"
      label="name"
      #name="ngModel"
      placeholder="Name"
      [(ngModel)]="user.name"
      [error]="!!name.invalid && !!name.touched"
      required
    ></app-input-text>
    <app-error-message [model]="name"> </app-error-message>
  </div>

  <div class="input">
    <app-input-text
      id="email"
      name="email"
      label="Email"
      #email="ngModel"
      placeholder="Email address"
      [(ngModel)]="user.email"
      [error]="!!email.invalid && !!email.touched"
      required
      email
    ></app-input-text>
    <app-error-message [model]="email"> </app-error-message>
  </div>

  <div class="input half">
    <app-input-password
      id="password"
      name="password"
      label="Password"
      #password="ngModel"
      [(ngModel)]="user.password"
      [error]="!!password.errors && !!password.touched"
      placeholder="Password"
      required
    ></app-input-password>
    <app-error-message [model]="password"> </app-error-message>
  </div>

  <div class="input half">
    <app-input-password
      id="confirm_password"
      name="confirm_password"
      label="Confirm Password"
      placeholder="Confirm Password"
      [(ngModel)]="user.confirm_password"
      [error]="!!confirm_password.errors && !!confirm_password.touched"
      #confirm_password="ngModel"
      required
    ></app-input-password>
    <app-error-message [model]="confirm_password"> </app-error-message>
  </div>

  <app-button [loading]="loading" [disabled]="!!form.invalid" type="submit">
    Register
  </app-button>
</form>

<app-alert *ngIf="errorMessage">
  {{ errorMessage }}
</app-alert>
