<form #form="ngForm">
  <app-input-text
    class="input"
    name="email"
    [(ngModel)]="user.email"
    #email="ngModel"
    type="email"
    label="Email"
    placeholder="Email address"
    id="email"
  ></app-input-text>

  <app-input-password
    name="password"
    class="input"
    [(ngModel)]="user.password"
    #password="ngModel"
    type="password"
    label="Password"
    placeholder="Password"
    id="password"
  ></app-input-password>

  <app-button type="submit">Login</app-button>
</form>
