.item {
  border-bottom: var(--text);
  display: flex;
  justify-content: flex-start;
  padding: 20px 32px;

  &_content {
    flex: 1;
    text-align: left;
  }

  &_aside {
    text-align: right;
  }
}
