<app-form-search
  (createItem)="showModal()"
  (search)="search($event)"
  placeholder="Search by provider name"
></app-form-search>

<app-generic-table domain="Provides">
  <app-table-provides-header></app-table-provides-header>

  <ng-container *ngIf="provider$ | async as providers; else loading">
    <app-table-provides-item
      *ngFor="let provider of providers"
      [provider]="provider"
    ></app-table-provides-item>

    <app-generic-item *ngIf="!providers.length">
      No provider registered
    </app-generic-item>
  </ng-container>

  <ng-template #loading>
    <app-generic-item-loading *ngFor="let i of [1, 2, 3]">
    </app-generic-item-loading>
  </ng-template>
</app-generic-table>
