<app-form-search
  (createItem)="showModal()"
  (search)="search($event)"
  placeholder="Search by provider name"
></app-form-search>

<app-generic-table
  domain="Provides"
  (action)="action($event)"
  [itens$]="provider$"
  [dropdown]="dropdown"
  [headers]="table_header"
  empty="Nenhum fornecedor cadastrado"
>
  <ng-template let-item>
    <td>
      <div class="container_image">
        <app-avatar [name]="item.name" [avatar]="item.photo"></app-avatar>
        {{ item.name }}
      </div>
    </td>

    <td>{{ item.email }}</td>

    <td>{{ item.celphone }}</td>

    <td>{{ item.representative }}</td>
  </ng-template>
</app-generic-table>
