<app-form-search
  (createItem)="createItem()"
  placeholder="Search the salle"
></app-form-search>

<app-generic-table
  domain="Sales"
  (action)="action($event)"
  [itens$]="salle$"
  [dropdown]="dropdown"
  [headers]="table_header"
  empty="Nenhuma venda cadastrada"
>
  <ng-template let-item>
    <td>
      <div class="container_image">
        <app-avatar
          [name]="item.product.name"
          [avatar]="item.product.photo"
        ></app-avatar>

        {{ item.product.name }}
      </div>
    </td>

    <td>
      {{ item.product.price_buy | currency: 'BRL':'symbol' }}
    </td>

    <td>
      {{ item.product.price_sale | currency: 'BRL':'symbol' }}
    </td>

    <td>
      {{ item.createdAt | date: 'short' }}
    </td>
  </ng-template>
</app-generic-table>
