<app-form-search
  (createItem)="showModal()"
  placeholder="Search the salle"
></app-form-search>

<app-generic-table domain="Sales">
  <tr>
    <th>Product</th>
    <th>Price buy</th>
    <th>Price sale</th>
    <th>Date salle</th>
    <th>Action</th>
  </tr>

  <tbody>
    <ng-container *ngIf="salle$ | async as sales; else loading">
      <tr *ngFor="let salle of sales">
        <td>
          <div class="container_image">
            <app-avatar
              [name]="salle.product.name"
              [avatar]="salle.product.photo"
            ></app-avatar>

            {{ salle.product.name }}
          </div>
        </td>

        <td>
            {{  salle.product.price_buy | currency:'BRL':'symbol' }}
        </td>

        <td>
            {{ salle.product.price_sale | currency:'BRL':'symbol' }}
        </td>

        <td>
            {{ salle.createdAt | date:'short'}}
        </td>

        <td>
          <button>
            <fa-icon [icon]="optionsIcon"></fa-icon>
          </button>
        </td>
      </tr>

      <app-generic-item *ngIf="!sales.length">
        No sales registered
      </app-generic-item>
    </ng-container>
  </tbody>

  <ng-template #loading>
    <app-generic-item-loading *ngFor="let i of [1, 2, 3]">
    </app-generic-item-loading>
  </ng-template>
</app-generic-table>
