<div class="item" role="listitem">
  <div class="item_cell lg">
    <app-avatar
      [name]="salle.product.name"
      [avatar]="salle.product.photo"
    ></app-avatar>

    <div class="item_description">
      {{ salle.product.name }}
    </div>
  </div>

  <div class="item_cell">
    <div class="item_description">
      {{  salle.product.price_buy | currency:'BRL':true }}
    </div>
  </div>

  <div class="item_cell">
    <div class="item_description">
      {{ salle.product.price_sale | currency:'BRL':true }}
    </div>
  </div>

  <div class="item_cell">
    <div class="item_description">
      {{ salle.createdAt | date:'short'}}
    </div>
  </div>

  <div class="item_cell small">
    <button>
      <fa-icon [icon]="optionsIcon"></fa-icon>
    </button>
  </div>
</div>
