<div class="item" role="listitem">
  <div class="item_cell lg">
    <app-avatar
      [name]="salle.product?.name ?? ''"
      [avatar]="salle.product?.photo ?? ''"
    ></app-avatar>

    <div class="item_description">
      {{ salle.product?.name }}
    </div>
  </div>

  <div class="item_cell">
    <div class="item_description">
      {{ salle?.price }}
    </div>
  </div>

  <div class="item_cell">
    <div class="item_description">
      {{ salle?.quantity }}
    </div>
  </div>

  <div class="item_cell">
    <div class="item_description">
      {{ salle?.createdAt }}
    </div>
  </div>

  <div class="item_cell small">
    <button>
      <fa-icon [icon]="optionsIcon"></fa-icon>
    </button>
  </div>
</div>
