<div class="input-photo">
  <img *ngIf="value.b64" [src]="value.b64" class="input-photo_photo" />
  <img *ngIf="initialImage && !inputFile.value" src="{{urlBase}}/{{initialImage}}" class="input-photo_photo" />

  <input
    #inputFile
    type="file"
    [id]="id"
    [name]="id"
    (change)="showImage($event)"
    accept="image/png, image/jpeg"
    class="input-photo_input"
  />
  <button type="button" (click)="inputFile.click()" class="input-photo_button">
    <fa-icon [icon]="iconUpload"></fa-icon>
  </button>
</div>
