app-form-search {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}


.container_image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 8px;
}
