<app-form-search
  (createItem)="createItem()"
  (search)="search($event)"
  placeholder="Search the product by name"
>
</app-form-search>

<app-generic-table
  domain="Products"
  (action)="action($event)"
  [itens$]="products$"
  [dropdown]="dropdown"
  [headers]="table_header"
  empty="Nenhum produto cadastrado"
>
  <ng-template let-item>
    <td>
      <div class="container_image">
        <app-avatar
          prefix="products_photo"
          [name]="item.name"
          [avatar]="item.photo"
        ></app-avatar>

        {{ item.name }}
      </div>
    </td>

    <td>
      {{ item.description }}
    </td>

    <td>
      {{ item.price_buy | currency: 'BRL':'symbol' }}
    </td>

    <td>
      {{ item.price_sale | currency: 'BRL':'symbol' }}
    </td>
  </ng-template>
</app-generic-table>
