<app-tables-products>
  <app-tables-products-header></app-tables-products-header>
  <app-tables-products-item></app-tables-products-item>
  <app-tables-products-item></app-tables-products-item>
  <app-tables-products-item></app-tables-products-item>
  <app-tables-products-item></app-tables-products-item>
  <app-tables-products-item></app-tables-products-item>
  <app-tables-products-item></app-tables-products-item>
  <app-tables-products-item></app-tables-products-item>
  <app-tables-products-item></app-tables-products-item>
</app-tables-products>
