<h1>Crie uma nova senha</h1>
<p>Crie uma nova senha com os mesmos criterios da anterior.</p>

<form autocomplete="off" novalidate="false" (submit)="submit()" #form="ngForm">
  <div class="input half">
    <app-input-password
      id="password"
      name="password"
      label="Password"
      #password="ngModel"
      [(ngModel)]="user.password"
      [error]="!!password.errors && !!password.touched"
      placeholder="Password"
      required
    ></app-input-password>
    <app-error-message [model]="password"> </app-error-message>
  </div>

  <div class="input half">
    <app-input-password
      id="confirm_password"
      name="confirm_password"
      label="Confirm Password"
      placeholder="Confirm Password"
      [(ngModel)]="user.confirm_password"
      [error]="!!confirm_password.errors && !!confirm_password.touched"
      #confirm_password="ngModel"
      required
    ></app-input-password>
    <app-error-message [model]="confirm_password"> </app-error-message>
  </div>

  <app-button [loading]="loading" [disabled]="!!form.invalid" type="submit">
    atualizar senha
  </app-button>
</form>

<app-alert *ngIf="errorMessage">
  {{ errorMessage }}
</app-alert>
