<div class="table">
  <div class="table_header">
    <h2 class="table_header_title">All {{ domain }}</h2>
  </div>

  <table class="table_body">
    <ng-content></ng-content>
  </table>

  <div class="table_footer">
    <div class="table_footer_per-page">Rows per page: 8</div>

    <div class="table_footer_pages">
      1-8 of 1240
      <button class="table_footer_button">
        <fa-icon [icon]="prevIcon"></fa-icon>
      </button>
      <button class="table_footer_button">
        <fa-icon [icon]="nextIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
