<div class="table">
  <div class="table_header">
    <h2 class="table_header_title">All {{ domain }}</h2>
  </div>

  <table class="table_body">
    <thead>
      <tr>
        <th *ngFor="let header of headers">{{ header }}</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody *ngIf="itens$ | async as itens; else loading">
      <tr *ngFor="let item of itens">
        <ng-template
          [ngTemplateOutlet]="templateRef"
          [ngTemplateOutletContext]="{ $implicit: item }"
        >
        </ng-template>

        <td>
          <app-dropdown [itens]="dropdown" (selected)="_action($event, item)">
            <fa-icon [icon]="optionsIcon"></fa-icon>
          </app-dropdown>
        </td>
      </tr>

      <tr *ngIf="!itens.length">
        <td [attr.colspan]="headers.length + 1">
          {{ empty }}
        </td>
      </tr>
    </tbody>

    <ng-template #loading>
      <tbody>
        <tr *ngFor="let loader of [1, 2, 3]">
          <td *ngFor="let td of headers">
            <div class="loading-bar"></div>
          </td>
          <td>
            <div class="loading-bar"></div>
          </td>
        </tr>
      </tbody>
    </ng-template>
  </table>

  <div class="table_footer">
    <div class="table_footer_per-page">Total de itens:</div>
  </div>
</div>
