@import '../../../../../scss/index.scss';

.table {
  background: var(--white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border-collapse: collapse;
  border: var(--border);
  overflow: hidden;
  overflow-x: auto;

  &_header {
    display: flex;
    justify-content: space-between;
    padding: 32px;

    &_title {
      color: var(--text);
      font-weight: bold;
      font-size: 19px;
      line-height: 24px;
      letter-spacing: 0.4px;
    }

    &_filter {
      align-items: center;
      display: none;
      justify-content: center;

      @media (min-width: $tablet) {
        display: flex;
      }

      .filter:not(:last-child) {
        display: block;
        margin-right: var(--space-xmd);
      }
    }
  }

  &_footer {
    align-items: center;
    color: var(--gray-dark);
    display: flex;
    font-size: 14px;
    justify-content: flex-end;
    letter-spacing: 0.3px;
    line-height: 20px;
    padding: 24px 32px;
    text-align: right;
    border-top: 1px solid var(--gray);
  }

  .empty {
    padding: 14px;
    font-weight: bold;
    color: var(--gray-dark);
  }
}
