:root {
  --text: #252733;
  --text-light: #4b506d;
  --font-family: Mulish;
  --primary: #3751ff;
  --light: #fcfdfe;
  --white: #fff;
  --gray: #f0f1f7;
  --gray-dark: #9fa2b4;
  --background: #363740;
  --background-light: #f7f8fc;
  --background-very-light: #dde2ff;
  --transition: 0.2s ease-in-out all;

  --space-xs: 6px;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
