
.title {
  margin-bottom: 24px;
}

.input {
  width: 100%;
}

.input:not(:last-child) {
  margin-bottom: 24px;
}

.form-password {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  width: 100%;
}

app-button {
  width: 100%;
}
