
<form class='form-password' [formGroup]="form" (ngSubmit)="_submit()">
  <h3 class="title">Formulário para criar um novo produto</h3>

  <div class="input">
    <app-input-text
      label="Senha atual"
      id="current_password"
      placeholder="Senha atual"
      type="password"
      formControlName="current_password"
      [error]="!!form.get('current_password')?.touched && !!form.get('current_password')?.invalid"
    ></app-input-text>
    <app-error-message [control]="form.get('current_password')"> </app-error-message>
  </div>

  <div class="input">
    <app-input-text
      label="nova senha"
      id="new_password"
      placeholder="Nova senha"
      type="password"
      formControlName="new_password"
      [error]="
        !!form.get('new_password')?.touched && !!form.get('new_password')?.invalid
      "
    ></app-input-text>
    <app-error-message [control]="form.get('new_password')"> </app-error-message>
  </div>

  <div class="input half">
    <app-input-text
      label="Confirme a nova senha"
      placeholder="Confirme a nova senha"
      id="confirm_password"
      type="password"
      formControlName="confirm_password"
      [error]="
        !!form.get('confirm_password')?.touched && !!form.get('confirm_password')?.invalid
      "
    ></app-input-text>
    <app-error-message [control]="form.get('confirm_password')"> </app-error-message>
  </div>

  <app-button
    [disabled]="form.invalid"
    type="submit"
    color="blue"
  >
    Atualizar senha
  </app-button>
</form>
