.item {
  border-bottom: 1px solid #dfe0eb;
  cursor: pointer;
  display: flex;
  padding: 24px 32px;
  transition: var(--transition);

  &:hover {
    background-color: rgba(55, 81, 255, 0.06);
  }

  &_cell {
    align-items: center;
    display: flex;
    flex: 1;

    &.small {
      max-width: 10px;
    }

    &.lg {
      flex: 1 20%;
      justify-content: flex-start;

      app-avatar {
        display: block;
        margin-right: 24px;
      }
    }
  }

  &_description {
    color: var(--text);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 20px;

    small {
      color: #c5c7cd;
      display: block;
      font-size: 12px;
      font-weight: normal;
      letter-spacing: 0.1px;
      line-height: 16px;
      margin-top: 4px;
    }
  }
}
